/* ---------- Layout-ish bits ---------- */

html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

#content { 
  width: 700px;
  margin: 0 auto;
  overflow: auto;
}

.column { 
  width: 50%; 
  position: absolute; 
  top: 0; 
}

.left {left: 0;} 
.right {right: 0;}

#leftcol {
  margin-right: 400px; 
} 

#rightcol {
  margin-left: 399px;
}

/* ---------- Style-ish bits ---------- */

html {
  background: #eee;
}

#content {
  text-align: right;
}

h1, h2, p, li {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 150%;
}

#sitenav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

#sitenav li {
  display: inline;
}

/* ---------- Semantic-ish bits ---------- */

time {
  background: yellow;
  font-size: 8px;
}
