<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8" />
   <title>esigler.com - {{ page.title }}</title>
   <link rel="stylesheet" href="/css/web.css" />
   <meta name="author" content="Eric Sigler">
   <link rel="alternate" type="application/atom+xml" title="Feed" href="http://feeds.feedburner.com/esiglerdotcom">
  </head>
<body>
{{ content }}
  <hr />
  <address>
    <a href="mailto:me@esigler.com">me@esigler.com</a> or <a href="/contact.html">phone/mail</a> (<a href="/misc/esigler_pub.asc">PGP</a>/<a href="bitcoin:18oL3mG3iBojvH4pQFmbnjQSuTPpzy5tEJ">BTC</a>)
  </address>
</body>
</html>
