<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>esigler.com - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/web.css" />
    <meta name="author" content="Eric Sigler">
    <link rel="alternate" type="application/atom+xml" title="Feed" href="http://feeds.feedburner.com/esiglerdotcom">
  </head>
  <body>
    <header>
      <h1>{{ page.heading }}</h1>
      {% if page.category == "top" %}
      <p>Part of <a href="/">esigler.com</a></p>
      {% elsif page.category == "project" %}
      <p>Part of <a href="/projects.html">Projects</a></p>
      {% elsif page.category == "travel" %}
      <p>Part of <a href="/travel.html">Traveling</a></p>
      {% endif %}
    </header>
{{ content }}
    <hr />
    <footer>
      <address>
        <a href="mailto:me@esigler.com">me@esigler.com</a> (<a href="/misc/esigler_pub.asc">PGP</a>) or <a href="/contact.html">elsewhere</a>
      </address>
    </footer>
  </body>
</html>
